= render partial: "shared/errors", locals: {obj: @album}

%h1 Agregar nuevo album

%p Ingresa los datos del album nuevo


= form_for @album do |f|

  .field
    = f.label :singer_id, "Cantante"
    = f.collection_select :singer_id, Singer.order(:name), :id, :name

  .field
    = f.label :title, "Titulo"
    = f.text_field :title

  .field
    = f.label :price, "Precio"
    = f.text_field :price

  .field
    = f.label :production_label, "Productor"
    = f.text_field :production_label

  .field
    = f.submit
